* {
 padding: 0rem;
 margin: 0rem;
 outline: none;
 font-family: 'Parkinsans', sans-serif;
}

body {
 width: 100%;
 color: #333333;
 background: #f6f9fe;
}

main {
 width: 100%;
 height:100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom:20%;
 margin-top:20%;
}

.container {
 width: 100%;
 min-height: 95vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom:13%;
}

.topbar {
 width: 90%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style: none;
 margin: 1rem 0rem;
}

.topbar > li {
 height: 2rem;
 display: flex;
 align-items: center;
}

#axionis-name {
 font-weight: 800;
}

#axionis-dp {
 width: 2.6rem;
 height: 2.6rem;
 border-radius: 50%;
 margin-right: 0.4rem;
}

#three-dot {
 font-size: 1.6rem;
}

.action-tab {
 width: 8.6rem;
 height: auto;
 position: absolute;
 top: 4rem;
 right: 4%;
 align-self: flex-end;
 display: none;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 list-style: none;
 padding: 0.8rem 0.6rem;
 background: rgb(24, 29, 34);
 border-radius: 0.8rem;
 transition: 800ms;
 z-index: 1;
}

.show-actiontab {
 display: flex;
}

.action-tab > li {
 font-size: 0.9rem;
 padding: 0.4rem 0.8rem;
 background: rgb(24, 29, 34);
 border-radius: 0.8rem;
 transition: 500ms;
 margin: 0.4rem 0rem;
}

.action-tab > li:hover {
 background: rgb(13, 13, 13);
}

.action-tab  li > i {
 margin-right: 0.2rem;
}

.to-bottom-btn {
 width: 1.8rem;
 height: 1.8rem;
 position: fixed;
 bottom: 15%;
 display: none;
 align-items: center;
 justify-content: center;
 font-size: 1.4rem;
 padding: 0.6rem;
 background: rgb(34, 35, 37);
 border-radius: 50%;
}

.chatbox {
 width: 90%;
 height: 74vh;
 display: flex;
 flex-direction:  column;
 padding: 4% 6% 0% 4%;
 overflow-y: auto;
}

.default-screen {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.default-screen > img {
 width: 6rem;
 height: 6rem;
 border-radius: 50%;
}

.default-screen > h3 {
 margin: 0.5rem 0rem;
}

.default-screen > p {
 font-size: 0.8rem;
}

.comment-text {
 color: red;
}

.ai-divwrap {
 width: 90%;
 height: auto;
 align-self: flex-start;
 display: flex;
 align-items: center;
 justify-content: center;
}

.ai-message {
 width: 86%;
 height: auto;
 font-size: 0.88rem;
 padding: 1rem;
 border-top-right-radius: 1rem;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 margin:5%;
}

.ai-response {
 font-size: 0.8rem;
 background-color:#00a8a8; 
 border-radius:2px;
 border-bottom-right-radius:0px;
 padding:12px;
}

.ai-dp {
 width: 2.4rem;
 height: 2.2rem;
 align-self: flex-start;
 object-fit: cover;
 background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpff6lI4zBwMdJLs0YgcFgu2u_KKWm-vCRDuutyVlrjA&s');
 background-position: center;
 background-size: cover;
 border-radius: 50%;
 margin: 1rem -0.1rem 0rem 0rem;
}

.usr-message {
 width: auto;
 max-width: 70%;
 height: auto;
 align-self: flex-end;
 color: rgb(240, 240, 240);
 font-size: 0.88rem;
 padding: 1rem;
 background-color:#00a8a8;
 border-radius:2px;
 border-bottom-left-radius:0px;
 /*
 border-top-left-radius: 1rem;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 1rem;
 */
}

.chat-sender {
  width: 84%;
  height: 3.2rem;
  position: absolute;
  bottom: -5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(30, 35, 37);
  padding: 0rem 0.8rem;
  border-radius: 2rem;
  border: 0.1rem solid rgb(30, 35, 37);
}

.chat-sender:focus-within {
  border: 0.06rem solid rgb(4, 48, 247);
}

#chat-input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  border: none;
  padding-left: 0.6rem;
  color: rgb(240, 240, 240);
}

#chat-input:focus {
  outline: none;
  -webkit-appearance: none;
}

#chat-input:focus ~ #send-icon,
#chat-input:valid ~ #send-icon {
  color: rgb(255, 255, 255);
}

#send-button {
  width: auto;
  height: 75%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  transition: all 0.8s;
}

#send-button:hover {
  background: grey;
}

#send-button > #send-icon {
  color: rgb(180, 180, 180);
  transition: all 0.8s;
}

.loader {
 width: 3.125rem;
 aspect-ratio: 2;
 --_g: no-repeat radial-gradient(circle closest-side, rgb(180, 180, 180) 90%, #0000);
 background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
 background-size: calc(100% / 3) 50%;
 animation: l3 1s infinite linear;
}

@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}


#about-ai,
#about-dev {
 width: 90%;
 height: 88vh;
 position: fixed;
 bottom: 0%;
 display: none;
 flex-direction: column;
 align-items: center;
 padding: 1rem;
 background: rgb(20, 21, 23);
 border-top-right-radius: 1.2rem;
 border-top-left-radius: 1.2rem;
 z-index: 1;
}

#about-ai > ul,
#about-dev > ul {
 width: 90%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 1.5rem;
 list-style: none;
 margin: 1rem 0rem;
}

#about-ai > img,
#about-dev > img {
 width: 6rem;
 height: 6rem;
 object-fit: cover;
 border-radius: 50%;
 margin: 2rem 0rem 0.4rem 0rem;
}

#about-ai > p:nth-of-type(2) {
 font-size: 0.8rem;
 align-self: flex-start;
 margin: 4rem 0rem;
}

#about-dev > p {
 font-size: 0.9rem;
 margin: 0.5rem 0rem;
}


@media (min-width: 726px) {
  .ai-divwrap {
   margin-left: -3%;
  }
}
.header{
  position:fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100vw;
  height: 10vh;
  background-color:#00a8a8;
  z-index:10;
  overflow: hidden;
}
.bubbledown{
  position: absolute;
  top:0;
  left:-3%;
  width:40vw;
  height:20vh;
  background-color:#007878;
  border-radius:50%;
  opacity:0.2;
  z-index: -1;
}
.bubbleup{
  position: absolute;
  bottom:0;
  right:0;
  width:40vw;
  height:20vh;
  background-color:#007878;
  border-radius:50%;
  opacity:0.3;
  z-index:-1;
}
.header-title{
  font-size:1.5em;
  padding-left: 15px;
  color:#FFFFFF;
}
.ai-icon{
  font-size: 1.5em;
  padding:12px;
  color:#FFFFFF;
}
.music-icon{
  font-size: 1.5em;
  padding:12px;
  color:#FFFFFF;
}
.settings-icon{
  font-size: 1.5em;
  padding:12px;
  color:#FFFFFF;
}
.nav-bar{
  position: fixed;
  bottom:0;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  width:100%;
  height:12vh;
  background-color:#00a8a8;
  border-top:0.5px solid black;
  overflow:hidden;
}
.nav-bar i{
  font-size: 1.3em;
  color:#FFFFFF;
}
 .add-icon{
   font-size: 1.8em;
 }
 .icon{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  gap:5px;
}
.icon-name{
  color:#FFFFFF;
  font-size:0.6em;
}
@media (min-width:768px) {
    .nav-bar{
    height:5vh;
  }
  .header{
    height:5vh;
  }
  i{
   font-size:2.5em;
   padding:8px;
  }
  .icon-name{
    font-size: 1.1em;
  }
}