*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Parkinsans', sans-serif;
}
body,html{
  scroll-behavior: smooth;
  background-color:#f6f9fe;
}
.header{
  position:fixed;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: 10vh;
  background-color:#00a8a8;
  z-index:10;
  overflow:hidden;
}
.bubbledown{
  position: absolute;
  top:0;
  left:-3%;
  width:40vw;
  height:20vh;
  background-color:#007878;
  border-radius:50%;
  opacity:0.2;
  z-index: -1;
}
.bubbleup{
  position: absolute;
  bottom:0;
  right:0;
  width:40vw;
  height:20vh;
  background-color:#007878;
  border-radius:50%;
  opacity:0.3;
  z-index:-1;
}
.header-title{
  font-size:1.5em;
  padding-left: 15px;
  color:#FFFFFF;
}
.ai-icon{
  font-size: 1.5em;
  padding:12px;
  color:#FFFFFF;
}
.music-icon{
  font-size: 1.5em;
  padding:12px;
  color:#FFFFFF;
}
.settings-icon{
  font-size: 1.5em;
  padding:12px;
  color:#FFFFFF;
}
.nav-bar{
  position: fixed;
  bottom:0;
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  width:100%;
  height:12vh;
  background-color:#00a8a8;
  border-top:0.5px solid black;
  overflow: hidden;
}
.nav-bar i{
  font-size: 1.3em;
  color:#FFFFFF;
}
.add-icon{
  font-size:2.8em;
}
.video-chat-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 125px;
  scroll-behavior: smooth;
  gap:25px;
}
iframe {
  width: 90%;
  height: 60vh;
  border: none;
  box-shadow: 2px 4px 6px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  }
  .footer {
   margin-top: 20px;
    font-size: 0.9em;
    color: #777;
   }
  .video-chat-title{
    text-align:center;
    width:100%;
    padding:12px;
    color:#990033;
   }
 .icon{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  gap:5px;
}
.icon-name{
  color:#FFFFFF;
  font-size:0.6em;
}
@media (min-width:768px) {
    .nav-bar{
    height:5vh;
  }
  .header{
    height:5vh;
  }
  i{
   font-size:2.5em;
   padding:8px;
  }
  .icon-name{
    font-size: 1.1em;
  }
}