@import "../main.css";

body, html{
  overflow: hidden;
  scroll-behavior: smooth;
  background: #fff;
}

.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.verify-container > img {
  width: 100vw;
  height: 26em;
  object-fit: cover;
  image-rendering: rendering;
}
.verify-container > h1 {
  font-size: 2em;
  text-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}
.verify-container > p {
  color: rgba(0,0,0,0.4);
  font-size: 0.9em;
  text-align: center;
  margin-top: 1em;
  width: 90vw;
}
.verify-container > p > b {
  color: rgba(0,0,0,0.6);
}
.verify-container > a {
  font-size: 0.9em;
  text-align: center;
  margin-top: 3em;
  color: #389333;
}
.verify-container > button {
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 2em;
  color: #fff;
  background: #c74632;
  width: 70vw;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}